.NavContainer .sidenav {
    height:100%;
    width: 18%;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#1e495afd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 18px;
    overflow-x:hidden;
    padding-top:20px;
}
.sidenav .head_info .SchoolInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.sidenav .head_info .SchoolInfo h5{
    color: #f1f1f1;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sidenav .head_info .SchoolInfo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid grey;
}

.sidenav a:hover{
    color:#f1f1f1;
}	
.NavContainer{
    float: left;  
}
.NavContainer .NavBarItem .nav{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.NavContainer .NavBarItem .nav li{
   list-style-type: none;
   display: block;
}
.active {
    color: rgb(58, 50, 57) !important;
    background-color: white;
    border-radius: 20px;
}
.NavContainer .NavBarItem .nav li a{
    font-size: 20px;
    font-family:fantasy;
    color:#ffffff;
    text-align: center;
}
.NavContainer .NavBarItem .nav li a i{
   float: left;
   margin-right:5px;

}
.MainContainer{
    width: 82%;
    float: right;
    overflow: hidden;   
}
.MainContainer .TeacherTable{
    overflow-x: scroll;
    width: 100%;
}
.main .card-group{
   width:100%;
   padding:20px;
   height: 100%;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 25px 0px;
   text-align: center;
}
.MainContainer .card-group a{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    color:#111;
}