.NavContainer .sidenav {
    height:100%;
    width: 200px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
    padding-top:20px;
}
.sidenav .head_info .SchoolInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.sidenav .head_info .SchoolInfo h5{
    color: #f1f1f1;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidenav .head_info .SchoolInfo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid grey;
}
.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
}

.sidenav a:hover{
    color:#f1f1f1;
}	

.main{
    display: flex;
    justify-content:space-around;
    gap: 30px;
    margin:20px 0px;
    width: 100%;
    
}
.NavContainer{
    width: 12%;
}

.MainContainer{
    /* width: 83.6%; */
    width: 90%;
}
.main .card-group{
   width:100%;
   padding:25px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 5px 0px;
   text-align: center;

}