.NavContainer .sidenav {
    height:100%;
    width: 20%;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
    padding-top:20px;
}
.sidenav .head_info .SchoolInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.sidenav .head_info .SchoolInfo h5{
    color: #f1f1f1;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidenav .head_info .SchoolInfo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid grey;
}
.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
}

.sidenav a:hover{
    color:#f1f1f1;
}	


.NavContainer{
    float: left;
    
}

.NavContainer .nav li{
    display: block;
    width: 100%;
    

}
.active {
    color: rgb(58, 50, 57) !important;
    background-color: white;
    border-radius: 20px;

}
.NavContainer .nav li a{
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#f1f1f1;
}

.MainContainer{
    width: 80%;
    float: right;
    overflow: hidden;

    
}
.MainContainer .TeacherTable{
    overflow-x: scroll;
    width: 100%;
}

.main .card-group{
   width:100%;
   padding:20px;
   height: 100%;

   
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 25px 0px;
   text-align: center;

}
.MainContainer .card-group a{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    color:#111;
}