{% extends 'base/schoolBase.html' %}
{% block content %}
<div class="main">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="schoolform ">
            <h3>Add Student </h3>
            <div class="formData">
                {% for field in form %}
                <div class="fieldWrapper py-2">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
                <input type="submit" class="my-2" value="submit ">
            </div>
        </div>
    </form>
</div>
{% endblock %}