{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    {% if request.user.types == "school" %}
    <div class="main">
    <header class="NavContainer">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div class="sidenav">
                     
                            <div class="head_info">
                                <div class="SchoolInfo">
                                {% if school.schoolLogo %}
                                <img src="{{school.schoolLogo.url}}" alt=""  >
                                {% endif %}
                                <h5>{{request.user}}</h5>
                                </div>
                            </div>
                        <nav >
                            <ul class="nav">
                                <li class="nav-item">
                                    <a href="{% url 'school:Dashboard' %}" class="nav-link">DashBoard</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'school:SchoolStudent' %}" class="nav-link">Add Student</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'school:addteacher' %}" class="nav-link">Add Teacher</a>
                                </li>
                            
                                <li class="nav-item">
                                    <a href="{% url 'Auth:Logout' %}" class="nav-link">Logout</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
     
    </header>
    <section class="MainContainer">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    {% block content  %}
                  
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>

    </div>
 <footer>
    <h2>Footer</h2>
 </footer>
 {% endif %}
</body>
</html>