{% extends 'base/schoolBase.html' %}
{% block content %}

<div class="student_info">
    <div class="row justify-content-center">
        <div class="col-5 px-2">
            <div class="student_Detail">
            <a href="">
            <div class="studentlistOne">
                <h6>view all Student Attendance </h6>
                <p><i class="bi bi-eye"></i></p>

            </div>
            </a>
            </div>
        </div>
        <div class="col-5 px-2">
            <div class="student_Detail">
            <a href="">
            <div class="studentlistTwo">
                <h6>view all Student Attendance </h6>
                <p><i class="bi bi-eye"></i></p>

            </div>
            </a>
            </div>
        </div>
    

        </div> 
        
     

</div>

{% endblock %}